body {
  font-family: "Lexend", serif;
  background-color: #b5a794;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 80px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/skyline.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 40px;
  text-align: center;
  color: white;
}

header h1 h2 h3 {
  margin: 0;
}

header h1 {
  font-size: 48px;
  font-weight: 600;
}

header h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Vollkorn";
  font-style: italic;
}

header h3 {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 600;
}

header a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 32px;
  display: inline-block;
  background-color: white;
  color: black;
}

header a:hover {
  background-color: #b5a794;
  color: black;
  transition: 300ms all ease-in-out;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/dunes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 40px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

footer h4 {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

footer a {
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 120px 40px;
  }
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 14px;
    margin-top: 12px;
    padding: 16px 20px;
  }
  footer {
    font-size: 12px;
    padding: 20px 20px;
  }

  footer h4 {
    margin-bottom: 8px;
  }

  footer p {
    margin: 0;
    line-height: 1.5;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
